#emptyCart {
    width: 300px;
}

.card {
    width: 300px;
    min-height: fit-content;
}

.sidebarContainer {
    height: 100%
}

.elementContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100% - 72px);
}

.cardContainer {
    overflow-y: auto;
    height: 100%;
}

.cardContent {
    padding-bottom: 15px !important;
}

.bottomCheckoutContent {
    width: 100%;
    bottom: 0;
    right: 0;
}