p {
  font-size: calc(10px + 1vmin);
}

.App {
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: left;
  background-color: #282c34;
  min-height: 10vh;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
}

.GroupMemberTable {
  background-color: white;
}

.App-link {
  color: #61dafb;
}

#map {
  height: 500px;
  width: 100%;
}

#mapiframe {
  height: 500px;
  width: 80%;
}