.productsTitleContainer {
  text-align: center;
  width: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }

.productsListBody{
    flex-wrap: wrap;
    display: flex;
    margin: 10px 10px;
    max-width: 120vh;
    color: white;
  }

.productsList {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin: 10px 0px;
    max-width: 120vh;
    justify-content: center;
  }

