.Faq {
  text-align: center;
}

.Faq-body {
  /* background-color: #282c34; */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  padding: 30px 10px;
}

.Faq-questions {
  font-size: calc(7px + 1vmin);
  text-align: left;
  margin-left: 35px;
}
